<section class="user_info">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
  <ul>
    <li>age：<%= @user.age %></li>
    <li>area：<%= @user.area %></li>
  </ul>
</section>
<div>
  <%= link_to "user page", @user %> | 
  <a href="<%= followings_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following_users.count %>
    </strong>
    following
  </a> | 
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.follower_users.count %>
    </strong>
    followers
  </a>
</div>